.btn {
  padding: 12px 25px;
  background-color: #646cff; 
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}

.btn:hover {
  background-color: #4fa3f7; 
  transform: scale(1.05);
}

.btn:active {
  background-color: #3b89d6; 
  transform: scale(1.05);
}
